* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #434455;
    background-color: #ffffff;

}

html {
    --text-color-main: #2E2F42;
    --text-color-secondary: #8e8f99;
    --text-color-third: #4d5ae5;
    
}
  
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.logo-studio-top {
    color: #2e2f42;
}
.logo-studio-top:hover {
    color: #404bbf;
}
.logo-studio-top:active {
    text-decoration: underline;
    color: #404bbf;;
}

.first-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: var(--text-color-main);
    text-decoration: none;
    padding: 22px 0;
    display: inline-block;
    
}
.first-link:hover {
    color: #404bbf;
}
.first-link:focus {
    color: #404bbf;
}

.page-address {
    display: none;
}
.address-link {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
    color: #404bbf;
}
.address-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleoffice320x1.jpg");
    /* max-width: 320px; */
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}


.page-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    
   
}

.page-button {
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.page-button:hover {
    background-color: #404BBF;
}
.page-button:focus {
    background-color: #404BBF;
}

.page-title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-paragraph-one {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
}

.section-three {
    background-color: #F4F4FD;
}

.page-title-three {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.image-list {
    background-color: #FFFFFF;
}

.page-title-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-paragraph-two {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-paragraph-three {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.page-title-five {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: grid;
    align-items: baseline;
    /* width: 320px; */
    margin-left: auto;
    margin-right: auto;
}

.logo-studio-bottom {
    color: #f4f4fd;
}
.logo-studio-bottom:hover {
    color: #404bbf;
}

.logo-studio-bottom:active {
    text-decoration: underline;
    color: #404bbf;
    ;
}

.page-paragraph-four {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* header */

img { 
    display: block;
}

.top-bar {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
 
        /* width: ; */
        /* height: 56px;  */
        /* margin-left: auto;
        margin-right: auto; */
        /* margin-top: auto; */
        display: flex;
}

.div-container {
    display:flex;
    gap: 40px;
    align-items: center;
    
}
.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation {
    display: flex; 
    align-items: center;
    margin: 0;
    /* padding: 16px 0; */
    
}

.menu-list {
    display: flex;
    gap:40px;
}
.nav-list-one {
    display: none;
}

.link-active {
    /* display: inline-block; 
    padding-top: 24px; 
    padding-bottom: 24px; */
    position: relative;
    color:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link-active::after {
    content:"";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    background-color: #404bbf;
    border-radius: 2px;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.address-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section one */

.section-one {
    margin-left: auto;
        margin-right: auto;
}

.page-title {
    width: 216px;
    margin: 0 auto 24px;
    
    
}
.page-button {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 72px auto;
    }

    /* Section two */

.section-two {
    
    
    padding-top: 96px;
    padding-bottom: 96px;
    /* width: 320px; */
    margin: 0 auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-two {
    margin: 0 auto;
    list-style-type: none;
    display:grid;
    gap: 72px;
    
}
.list-two-item {
    width: 288px;
    
}
.page-title-two {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/* section three */

.section-three {
    padding: 120px 0;
    /* width: 320px; */
    margin-left: auto;
    margin-right: auto;
       
}
.page-title-three {
    margin-bottom: 72px;
}

.list-three {
    list-style-type: none;
    display: grid;
    gap: 72px;
    
}
.image-list {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* width: 264px; */
    /* height: 428px; */
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.div-info {
    padding: 32px 0;
    
        
}
.page-title-four {
    text-align: center;
    margin-bottom: 8px;
    
}
.page-paragraph-two {
    text-align: center;
}

/* section four */

.section-four {
    padding-top: 96px;
    padding-bottom: 96px;
    /* width: 320px; */
    margin-left: auto;
    margin-right: auto;
}
.page-title-five {
    margin-bottom: 72px;
    }

.page-title-six {
    margin-bottom: 8px;
    
}    
.list-four {
    list-style-type: none;
    display: grid;
    column-gap: 24px;
    row-gap: 48px;
}
.list-four-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}

.list-four-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.div-info-two {
    
    padding: 32px 16px 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
    
    
}

/* Footer */

.page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
    /* width: 320px;  */
}

.page-paragraph-four {
    width: 288px;
    margin-bottom: 72px;
}

.page-logo-bottom {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
}

/* Section two - icons */

.icon-one {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color:#f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* Section three - icons & links */

.social-media-one {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
    margin-top: 8px;
    
}
.social-media-one-item {
    width: 40px;
    height: 40px;
}

.sm-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:hover {
    background-color: #404bbf;
}

.sm-link:focus {
    background-color: #404bbf;
}

.sm-icon {
    fill: #f4f4fd;
}

/* Section four transformations */

.parent {
    position:relative;
    overflow: hidden;
}

.child {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.list-four-item:hover .child {
    transform: translateY(0);
}

/* .parent-two {
    position: relative;
    overflow: hidden;
    }
.parent-two:hover .child-two {
    transform: translateY(0);
}
.child-two {
    top:0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Footer icons */

.foot-container {
    /* width: 320px; */
}


.div-footer {
    /* margin-right: 120px; */
    /* width: 288px; */
    
}
.footer-icon {
    display: block;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* gap: 120px; */
    /* width: 208px; */
    /* height: 80px;
    top: 3256px;
    left: 540px; */
    /* margin: auto; */
    
    
}

.sm-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media-two {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}
.social-media-two-item {
    width: 40px;
    height: 40px;
}
.sm-link-two {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link-two:hover {
    background-color:#31d0aa;
}
.sm-link-two:focus {
    background-color: #31d0aa;
}

/* Subscribe */

.div-form {
    width: 288px;
    margin-top: 72px;   
}

.sub-one {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#ffffff;
    
    
}

.form-one {
    display: block;
    gap: 24px;
}

.label-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
   
}
.first-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.subs-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: auto;
    
}
.subs-icon {
    margin-left: 16px;
}

/* Modal */

.backdrop {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}

.modal {
    /* display: none; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.modal-button {
    position: absolute;
    /* margin-right: 24px; */
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-icon-one {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-one:hover {
    /* fill: #ffffff */
}

.modal-icon-one:focus {
    /* fill: #ffffff */
}

/* Modal paragaphs */

.modal-par-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color-main);
    margin-bottom: 16px;
}

.modal-form-one {
    margin-bottom: 8px;
   
    /* margin-top: 8px; */
}

.modal-label-one {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color-secondary);
    display: block;
    margin-bottom: 4px;
}

.modal-form-two {
    position: relative;
}

.modal-input-one {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-one:focus {
    border-color: #4D5AE5;
    
}

.modal-icon-two {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-form-two:focus-within {
    fill: #4D5AE5;
}

 

/* Modal Area */

.modal-area {
    margin-bottom: 16px;

}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: #8e8f99;
    
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

/* Modal-checkbox */

.modal-checkbox {
    margin-bottom: 24px;
}


.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color-secondary);
    font-weight: 400;
}

.checkbox-span {
    display:inline-block;
    
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-input:checked+.checkbox-label .checkbox-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.checkbox-link {
    color: var(--text-color-third);
}

.checkbox-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;

}
.hamburger {
    margin-left: 24px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav.is-open {
    /* display: block; */
    
    
}

.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.mobile-nav-one {
    display: grid;
    margin-left: 16px;
    margin-top: 72px;
    list-style-type: none;
    gap: 40px;
}

.mobile-nav-link {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11em;
    color: var(--text-color-main);
    text-decoration: none;
    /* padding: 24px 0; */
}
.mobile-nav-link:hover {
    color: #404bbf;
}

.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-nav-address {
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.mobile-address-list {
    display: grid;
    gap: 24px;
    margin-left: 16px;
    margin-top: 168px;
    list-style-type: none;
}

.mobile-address-link {
    
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.mobile-media-one {
    display: flex;    
    gap: 40px;
     list-style-type: none;
    margin-top: 48px;
    margin-left: 16px;
}

@media (min-resolution: 192dpi) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/peopleoffice320x2.jpg");
    }
}


    

/* Tablet */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .mobile-nav.is-open {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .nav-list-one {
    list-style-type: none;
    display: flex;
    gap: 40px;
    }

    .page-address {
            display: block;
            
    }

    .address-list {
        display: grid;
        row-gap: 10px;
        margin-left: 90px;
    }

    
    .page-logo {
        margin-right: 120px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .address-link {
        font-style: normal;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16em;
        letter-spacing: 4%;
    }

    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/peopleoffice768x2.jpg");
        padding-top: auto;
        padding-bottom: auto;
                              
    }

    .page-title {
        
        width: 496px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: auto;
        margin-top: 62px;
        padding: auto; */
    }
    .page-button {
       
            margin-bottom: 62px;
            margin-top: 36px;
            
    }        

    .list-two {
        display: flex;
        flex-wrap: wrap;
    }
        .page-title-two {
            margin-bottom: 8px;
            display:inline-flex
    }       
            
            
    .list-three {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .list-four {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .list-four-item {
        width: auto;
    }
    
    
    .img-size {
        width: 356px;
        height: 300px;
    }
    
    .foot-container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 93px;
            padding-right: 149px;
            
    }
    
    .page-footer {
    margin: 0 auto;
    }
       
    
    .footer-icon {
        margin: 0;
    }
    .page-paragraph-four {
        margin: 0 auto;
    }
    
    .page-logo-bottom {
        
    }
    
    .subs-button {
        margin-top: 0;
        margin-bottom: 0;
    }
    .form-one {
        display: flex;
        gap: 24px;
            
    }

    .sm-paragraph {
        margin-right: 110px;
    }

    .sub-one {
        margin-right: 215px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

/* Desktop */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .mobile-nav.is-open {
        display: none;
    }

    .hamburger {
        display: none;
    }

    

    .nav-list-one {
        list-style-type: none;
        display: flex;
        gap: 40px;
    }

    .page-address {
        margin-left: 202px;
    }

    .address-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0%;
    }    


    .page-logo {
        /* margin-right: 120px; */
        margin-left: auto;
        margin-right: 120px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .address-link {
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.16em;
        letter-spacing: 2%;   
    }



    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/peopleoffice1440x2.jpg");
        padding-top: auto;
        padding-bottom: auto;

    }

    .page-title {

        width: 496px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: auto;
        margin-top: 62px;
        padding: auto;
        */
    }

    .icon-one {
        display: flex;
    }

    .list-two {
        list-style-type: none;
            display: flex;
            gap: 24px;
        
    }

    .list-two-item {
            width: 264px;
    }

    .page-title-two {
        margin-bottom: 8px;
        font-size: 20px;
    }


    .list-three {
        list-style-type: none;
        display: flex;
        gap: 24px;
        padding: 0%;
    }

    .img-size {
        width: 360px;
        height: 300px;
    }

    .foot-container {
        display: flex;
        align-items: baseline;
        padding: 0%;
    }

    .div-footer {
    margin-right: 120px;
    }

    .footer-icon {
        margin-right: 80px;
    }

    .page-logo-bottom {
        display: inline-block;
    }
}


